.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1192px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1440px;
  }
}

.contact-us {
  font-size: 16px;
  line-height: 21px;
  font-family: "Poppins Semibold";
  padding: 18px 42px;
  background-color: #264152;
  color: #fff;
  display: inline-block;
  &:hover {
    background-color: #ff6d42;
  }
}

header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100vw;
  //   min-height: 10vh;
  z-index: 5;
  background-color: #fff;
  //   background-color: rgb(77, 31, 31);
  .nav {
    display: flex;
    min-height: 127px;
    align-items: center;
    .logo-wrapper {
      font-family: "Montserrat Bold";
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 2px;
      span:first-child {
        color: #348c41;
      }
      span:last-child {
        color: #a3d8b0;
      }
    }
    nav {
      margin-left: auto;
      ul {
        display: flex;
        margin-right: 40px;
        li {
          cursor: pointer;
          font-size: 14px;
          line-height: 21px;
          color: #212121;
          margin-right: 17px;
          font-family: "Open Sans Bold";
          position: relative;
          &::after {
            opacity: 0;
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #ff6d42;
          }
          &:hover {
            &::after {
              opacity: 1;
            }
          }
          &:first-child {
            color: #ff6d42;
            position: relative;
            &::after {
              opacity: 1;
              background-color: #ff6d42;
            }
          }
          &:last-child {
            margin-right: 0;
            &::after {
              background-color: #212121;
            }
          }
        }
      }
    }
  }
}

.dark {
  header {
    .nav {
      border-bottom: 1px solid #c9c9c9;
      .logo-wrapper {
        span:first-child {
          color: #212121;
        }
        span:last-child {
          color: #a4a4a4;
        }
      }
      nav {
        ul {
          li {
            &:first-child {
              color: #a4a4a4;
              &::after {
                opacity: 0;
              }
              &:hover {
                &::after {
                  background-color: #a4a4a4;
                  opacity: 1;
                }
              }
            }
            &:last-child {
              color: #212121;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: #212121;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .contact-us {
    background-color: #212121;
    &:hover {
      background-color: #555555;
    }
  }
  .homeFooter .inner .cards .card p a:hover {
    color: #555555;
  }
  section.hero h1 span,
  section.two-cols h2 span,
  section.two-cols .right h2 span,
  ul.special.blue li::before {
    background-color: #212121;
  }
  section.hero h1 span {
    color: #fff;
  }
  section.hero .hero__vectors .circles__first,
  section.hero .hero__vectors .circles__second,
  section.hero .hero__vectors .circles__third,
  section.hero .hero__vectors .blocks__third,
  section.hero .testimonials-grid__item .circles__first,
  section.hero .testimonials-grid__item .blocks-wrapper .blocks__third {
    border-color: rgba(33, 33, 33, 0.3);
  }
  section.hero .hero__vectors .circles__second,
  section.hero .hero__vectors .blocks__second,
  section.hero .testimonials-grid__item .circles__second,
  section.hero .testimonials-grid__item .blocks-wrapper .blocks__second {
    border-color: rgba(33, 33, 33, 0.6);
  }
  section.hero .hero__vectors .circles__third,
  section.hero .hero__vectors .blocks__first,
  section.hero .testimonials-grid__item .circles__third,
  section.hero .testimonials-grid__item .blocks-wrapper .blocks__first {
    border-color: rgba(33, 33, 33, 1);
  }
  svg path {
    stroke: #9f9f9f;
  }
  ul.special li::before {
    background-color: #212121;
  }
  section.hero {
    background-color: #fff;
  }
  section.hero .testimonials-grid__item.orange,
  .testimonials-grid__item.greenish,
  section.hero .testimonials-grid__item {
    border-color: #d8d8d8 !important;
  }
  section.two-cols .left {
    background-color: #e8e8e8;
  }
  .homeFooter {
    background-color: rgba(33, 33, 33, 1);
  }
  .homeFooter .inner .cards .card {
    border-color: #555555;
  }
  .homeFooter .inner .logo span:first-child {
    color: #fff;
  }
  .homeFooter .inner .logo span:last-child {
    color: #4c4c4c;
  }
  .homeFooter .circles-wrapper .circles__third {
    border-color: rgba(255, 255, 255, 1);
  }
  .homeFooter .circles-wrapper .circles__second {
    border-color: rgba(255, 255, 255, 0.6);
  }
  .homeFooter .circles-wrapper .circles__first {
    border-color: rgba(255, 255, 255, 0.3);
  }
}

ul.special.blue-responsive {
  display: none;
}

ul.special {
  font-size: 25px;
  line-height: 37px;
  color: #262626;
  li {
    margin-top: 37px;
    padding-left: 170px;
    position: relative;
    &::before {
      content: "";
      height: 4px;
      width: 150px;
      background-color: #ef6f6c;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(1) {
      span {
        left: 25px;
      }
      &::before {
        width: 110px;
        left: 40px;
      }
    }
    &:nth-child(2) span {
      left: 55px;
    }
    &:nth-child(3) {
      span {
        left: 50px;
      }
      &::before {
        width: 67px;
        left: 83px;
      }
    }
    &:nth-child(4) {
      span {
        left: 95px;
      }
      &::before {
        width: 130px;
        left: 20px;
      }
    }

    /* // &:first-child {
    //   margin-top: 0;
    // } */
  }
  &.blue {
    li {
      &::before {
        background-color: #094367;
      }
      &:nth-child(3) {
        span {
          left: 92px;
        }
        &::before {
          width: 131px;
          left: 19px;
        }
      }
      &:nth-child(4) {
        span {
          left: 25px;
        }
        &::before {
          width: 110px;
          left: 40px;
        }
      }
    }
  }
  // &.blue-responsive {
  //   li {
  //     &::before {
  //       //background-color: #094367;
  //     }
  //   }
  // }
}

section.hero {
  background-color: #f0e3d8;
  padding: 130px 0 150px;
  position: relative;
  p {
    margin: 24px 0 18px;
    max-width: 736px;
  }
  .flex-group {
    display: flex;
  }
  .hero__offer {
    position: absolute;
    right: 26px;
    top: 299px;
    h4 {
      font-size: 25px;
      line-height: 37px;
      font-family: "Poppins Semibold";
      color: #262626;
    }
  }
  .hero__vectors {
    padding-left: 120px;
    .circles {
      $circle-size: 164px;
      width: $circle-size;
      height: $circle-size;
      position: relative;
      & > div {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &__first,
      &__second,
      &__third {
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255, 109, 66, 0.3);
      }
      &__second {
        width: $circle-size - 44;
        height: $circle-size - 44;
        border: 2px solid rgba(255, 109, 66, 0.6);
      }
      &__third {
        width: $circle-size - 87;
        height: $circle-size - 87;
        border: 2px solid rgba(255, 109, 66, 1);
      }
    }
    .blocks {
      $block-size: 85px;
      width: 85px;
      height: 85px;
      position: relative;
      transform: translate(100%, -48px);
      left: 76px;
      top: 6px;
      &__block {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(9, 67, 103, 1);
      }
      &__second {
        top: 32px;
        left: -32px;
        border-color: rgba(9, 67, 103, 0.6);
      }
      &__third {
        top: 64px;
        left: -64px;
        border-color: rgba(9, 67, 103, 0.3);
      }
    }
  }
  h5 {
    font-family: "Open Sans Bold";
    font-size: 18px;
    line-height: 27px;
    color: #868686;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  h1 {
    font-size: 75px;
    line-height: 105px;
    color: #212121;
    //font-family: "Poppins Semibold";
    & > div {
      margin-bottom: 4px;
      &:last-child {
        margin: 0;
      }
    }
    span {
      color: #f0e3d8;
      background-color: #ef6f6c;
      position: relative;
      display: inline-block;
      margin: 3px 0;
      padding: 0 8px;
    }
  }
  .hero__offer {
    font-family: "Poppins Semibold";
    position: absolute;
    ul {
      font-family: "Open Sans Regular";
    }
  }
  h2 {
    font-family: "Poppins Light";
    font-size: 75px;
    margin-top: 346px;
  }
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 43px;
  &__item {
    border: 2.5px solid #094367;
    margin-top: 43px;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    padding: 73px 24px 18px;
    position: relative;
    min-height: 416px;
    .bolt {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-50%);
    }
    &:nth-child(2),
    &:nth-child(5) {
      .bolt {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        transform: translateY(0) rotate(90deg);
        transform-origin: right;
      }
    }
    &:nth-child(3),
    &:nth-child(6) {
      .bolt {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
      }
    }
    .circles {
      position: absolute;
      width: 121px;
      height: 121px;
      right: 60px;
      bottom: 60px;
      &__circle {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgba(255, 109, 66, 0.3);
      }
      &__second {
        width: 88px;
        height: 88px;
        border: 2px solid rgba(255, 109, 66, 0.6);
      }
      &__third {
        width: 57px;
        height: 57px;
        border: 2px solid rgba(255, 109, 66, 1);
      }
    }
    .blocks-wrapper {
      position: absolute;
      right: 153px;
      bottom: 190px;
      // .small {
      //   width: 45px !important;
      //   height: 45px !important;
      // }
      .blocks {
        width: 85px;
        height: 85px;
        position: relative;
        &__block {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(9, 67, 103, 1);
        }
        &__second {
          top: 32px;
          left: -32px;
          border-color: rgba(9, 67, 103, 0.6);
        }
        &__third {
          top: 64px;
          left: -64px;
          border-color: rgba(9, 67, 103, 0.3);
        }
      }
    }
    &:nth-child(5) {
      .blocks-wrapper {
        right: 208px;
        bottom: 150px;
        .blocks {
          width: 45px;
          height: 45px;
          &__second {
            top: 13px;
            left: -13px;
          }
          &__third {
            top: 26px;
            left: -26px;
          }
        }
      }
    }
    &:nth-child(6) {
      .circles {
        width: 82px;
        height: 82px;
        right: auto;
        left: 25px;
        bottom: 120px;
        &__second {
          width: 60px;
          height: 60px;
        }
        &__third {
          width: 38px;
          height: 38px;
        }
      }
    }
    &.orange {
      border-color: #ff6d42;
    }
    &.greenish {
      border-color: #348c41;
    }
    .gothic {
      font-family: "Pathway Gothic One";
      font-size: 125px;
      color: #212121;
      display: block;
      position: absolute;
      top: 0;
      left: 24px;
      line-height: 187.5px;
      transform: translateY(-10%);
    }
    display: flex;
    flex-direction: column;
    .m-top-auto {
      margin-top: auto;
      font-size: 17px;
      line-height: 26px;
    }
    &__author {
      color: #212121;
      font-family: "Open Sans Bold";
      margin-bottom: 4px;
    }
    &__location {
      color: #747474;
    }
  }
}

section.two-cols {
  display: flex;
  min-height: 991px;
  h2 {
    font-size: 75px;
    line-height: 112.5px;
    font-family: "Poppins Light";
    span {
      background-color: #ef6f6c;
      color: #fff;
      padding: 0 10px;
      margin-right: 4px;
    }
  }
  .left {
    width: 45%;
    background-color: #e4f0ef;
    padding: 152px 0 0 232px;
  }
  .right {
    width: 55%;
    background-color: #fff;
    padding-top: 405px;
    padding-left: 87px;
    h2 {
      span {
        background-color: #094367;
      }
    }
  }
  ul {
    margin-top: 37px;
    padding-left: 170px;
    font-size: 20px;
    line-height: 37px;
    font-family: "Poppins Regular";
    color: #262626;
    li {
      margin-bottom: 37px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.homeFooter {
  background-color: #094367;
  min-height: 625px;
  position: relative;
  .circles-wrapper {
    position: absolute;
    top: 93px;
    right: 600px;
    .circles {
      width: 121px;
      height: 121px;
      &__circle {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgba(255, 109, 66, 0.3);
      }
      &__second {
        width: 88px;
        height: 88px;
        border: 2px solid rgba(255, 109, 66, 0.6);
      }
      &__third {
        width: 57px;
        height: 57px;
        border: 2px solid rgba(255, 109, 66, 1);
      }
    }
  }
  .inner {
    margin: 0 auto;
    padding: 110px 268px 0px;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .logo {
      font-family: "Montserrat Bold";
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 2px;
      span:first-child {
        color: #348c41;
      }
      span:last-child {
        color: #a3d8b0;
      }
    }
    h2 {
      font-size: 75px;
      font-family: "Poppins Light";
      line-height: 112px;
      color: #fff;
      margin: 18px 0 40px;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      column-gap: 47px;
      .card {
        //padding: 55px 65px 40px;
        border: 2.5px solid #348c41;
        //min-height: 186px;
        height: 100%;
        h6 {
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          font-family: "Poppins Semibold";
          color: #fff;
          text-transform: uppercase;
        }
        p {
          text-align: center;
          font-family: "Poppins Regular";
          color: #fff;
          font-size: 25px;
          line-height: 37px;
          a:hover {
            color: #ff6d42;
          }
        }
      }
    }
  }
}

@media (max-width: 1800px) {
  section.hero {
    padding-top: 105px;
    padding-bottom: 119px;
  }
  section.hero .hero__vectors {
    position: absolute;
    top: -41px;
    right: 94px;
  }
  header .nav {
    min-height: 102px;
  }
  header .nav .logo-wrapper {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .contact-us {
    padding: 15px 30px;
    font-size: 14px;
  }
  section.hero h1 {
    font-size: 60px;
    line-height: 84px;
  }
  section.hero h5 {
    font-size: 14px;
    line-height: 21px;
  }
  section.hero p {
    font-size: 14px;
    line-height: 21px;
    max-width: 589px;
  }
  section.hero .hero__vectors .circles {
    right: 30px;
  }
  section.hero .hero__vectors .blocks {
    width: 69px;
    height: 69px;
    /* // transform: translate(100%, -70px);
    // left: 120px; */
  }
  section.hero .hero__vectors .blocks__second {
    top: 26px;
    left: -26px;
  }
  section.hero .hero__vectors .blocks__third {
    top: 52px;
    left: -52px;
  }
  section.hero .hero__offer h4 {
    font-size: 20px;
  }
  ul.special {
    font-size: 20px;
    line-height: 30px;
  }

  ul.special li {
    margin-top: 30px;
  }
  section.hero .hero__offer {
    right: -54px;
    top: 222px;
  }
  section.hero h2 {
    margin-top: 270px;
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 18px;
  }
  section.hero .testimonials-grid__item {
    margin-top: 35px;
  }
  .testimonials-grid__item {
    margin-top: 35px;
  }
  section.hero .testimonials-grid__item .gothic {
    font-size: 100px;
    line-height: 150px;
  }
  .testimonials-grid__item .gothic {
    font-size: 100px;
    line-height: 150px;
  }
  section.hero .testimonials-grid {
    column-gap: 30px;
    p {
      margin: 0;
    }
  }
  .testimonials-grid {
    column-gap: 30px;
    p {
      margin: 0;
    }
  }
  section.hero .testimonials-grid__item {
    padding: 59px 20px 14px;
    min-height: 333px;
  }
  .testimonials-grid__item {
    padding: 59px 20px 14px;
    min-height: 333px;
  }
  section.hero .testimonials-grid__item .circles {
    right: 47px;
    bottom: 53px;
  }
  .testimonials-grid__item .circles {
    right: 47px;
    bottom: 53px;
  }
  section.hero .testimonials-grid__item .circles {
    width: 97px;
    height: 97px;
  }
  .testimonials-grid__item .circles {
    width: 97px;
    height: 97px;
  }
  section.hero .testimonials-grid__item .circles__second {
    width: 71px;
    height: 71px;
  }
  .testimonials-grid__item .circles__second {
    width: 71px;
    height: 71px;
  }
  section.hero .testimonials-grid__item .circles__third {
    width: 46px;
    height: 46px;
  }
  .testimonials-grid__item .circles__third {
    width: 46px;
    height: 46px;
  }
  section.hero .testimonials-grid__item .blocks-wrapper .blocks {
    width: 69px;
    height: 69px;
  }
  .testimonials-grid__item .blocks-wrapper .blocks {
    width: 69px;
    height: 69px;
  }
  section.hero .testimonials-grid__item .blocks-wrapper {
    right: 123px;
    bottom: 133px;
  }
  .testimonials-grid__item .blocks-wrapper {
    right: 123px;
    bottom: 133px;
  }
  section.hero .testimonials-grid__item:nth-child(5) .blocks-wrapper .blocks {
    width: 35px;
    height: 35px;
  }
  .testimonials-grid__item:nth-child(5) .blocks-wrapper .blocks {
    width: 35px;
    height: 35px;
  }

  section.hero .testimonials-grid__item:nth-child(5) .blocks-wrapper {
    right: 167px;
    bottom: 123px;
  }
  .testimonials-grid__item:nth-child(5) .blocks-wrapper {
    right: 167px;
    bottom: 123px;
  }
  section.hero .testimonials-grid__item .blocks-wrapper .blocks__second {
    top: 26px;
    left: -26px;
  }
  .testimonials-grid__item .blocks-wrapper .blocks__second {
    top: 26px;
    left: -26px;
  }
  section.hero .testimonials-grid__item:nth-child(6) .circles {
    bottom: 96px;
    left: 20px;
  }
  .testimonials-grid__item:nth-child(6) .circles {
    bottom: 96px;
    left: 20px;
  }
  section.hero .testimonials-grid__item .blocks-wrapper .blocks__third {
    top: 52px;
    left: -52px;
  }
  .testimonials-grid__item .blocks-wrapper .blocks__third {
    top: 52px;
    left: -52px;
  }
  section.hero .testimonials-grid__item:nth-child(6) .circles {
    width: 66px;
    height: 66px;
  }
  .testimonials-grid__item:nth-child(6) .circles {
    width: 66px;
    height: 66px;
  }
  section.hero .testimonials-grid__item:nth-child(6) .circles__second {
    width: 48px;
    height: 48px;
  }
  .testimonials-grid__item:nth-child(6) .circles__second {
    width: 48px;
    height: 48px;
  }
  section.hero .testimonials-grid__item:nth-child(6) .circles__third {
    width: 31px;
    height: 31px;
  }
  .testimonials-grid__item:nth-child(6) .circles__third {
    width: 31px;
    height: 31px;
  }
  section.two-cols .left {
    padding-top: 122px;
    padding-left: 186px;
  }
  section.two-cols h2 {
    font-size: 60px;
    line-height: 90px;
  }
  section.two-cols ul {
    padding-left: 0;
  }
  section.two-cols .right {
    padding-left: 70px;
    padding-top: 324px;
  }
  section.two-cols ul li {
    margin-bottom: 0;
  }
  section.two-cols {
    min-height: 793px;
  }
  .homeFooter {
    min-height: 500px;
  }
  .homeFooter .inner .logo {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .homeFooter .inner {
    padding: 88px 214px 100px;
  }
  .homeFooter .inner .cards {
    column-gap: 30px;
  }
  .homeFooter .inner .cards .card h6 {
    font-size: 16px;
  }
  .homeFooter .inner .cards .card p {
    font-size: 20px;
    margin-top: 10px;
  }
  .homeFooter .inner h2 {
    font-size: 60px;
    line-height: 90px;
    margin: 10px 0 15px;
  }
  .homeFooter .circles-wrapper .circles {
    width: 97px;
    height: 97px;
  }
  .homeFooter .circles-wrapper .circles__second {
    width: 71px;
    height: 71px;
  }
  .homeFooter .circles-wrapper .circles__third {
    width: 46px;
    height: 46px;
  }
  .homeFooter .circles-wrapper {
    top: 75px;
    right: 478px;
  }
  ul.special li::before {
    height: 3px;
  }
}

@media (max-width: 1440px) {
  // section.hero .hero__offer {
  //   right: 97px;
  // }
  section.two-cols .left {
    padding-left: 139px;
  }
  section.two-cols .right {
    padding-left: 50px;
  }

  .homeFooter .inner {
    padding: 88px 167px 31px;
  }
  .homeFooter .circles-wrapper {
    top: 75px;
    right: 430px;
  }
}

@media (max-width: 1024px) {
  .body {
    width: auto;
  }
  .contact-us:visited {
    background-color: #094367 !important;
  }
  header .nav {
    position: relative;
    min-height: 68px;
  }
  header .nav .logo-wrapper {
    font-size: 16px;
  }
  header .nav nav ul {
    position: absolute;
    right: 0;
    bottom: -20px;
    transform: translateY(100%);
    margin-right: 0;
  }
  .contact-us {
    padding: 11px 28px;
    font-size: 14px;
  }
  section.hero {
    padding-top: 127px;
    padding-bottom: 90px;
  }
  section.hero h1 {
    font-size: 28px;
    line-height: 40px;
  }
  section.hero .hero__vectors {
    display: none;
  }
  section.hero h1 span {
    margin: 1px 0;
    padding: 0 3px;
  }
  section.hero .contact-us {
    padding: 24px 0;
    width: 100%;
    text-align: center;
  }
  section.hero p {
    font-size: 16px;
    line-height: 24px;
  }
  section.hero .hero__text p {
    margin: 30px 0 20px;
  }
  section.hero .hero__offer {
    position: relative;
    top: 0;
    right: 0;
  }
  section.hero .hero__offer h4 {
    font-size: 29px;
    margin-top: 60px;
  }
  ul.special li {
    padding-left: 110px;
  }
  section.hero .hero__offer ul {
    position: relative;
    left: -20px;
  }
  section.hero h2 {
    margin-top: 100px;
    font-size: 29px;
    line-height: 43px;
  }
  section.hero .testimonials-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .testimonials-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  section.hero .testimonials-grid__item {
    /* // min-height: 474px; */
    padding: 74px 25px 25px;
  }
  .testimonials-grid__item {
    /* // min-height: 474px; */
    padding: 74px 25px 25px;
  }
  section.hero .testimonials-grid__item p {
    font-size: 14px;
    line-height: 21px;
  }
  .testimonials-grid__item p {
    font-size: 14px;
    line-height: 21px;
  }
  section.hero .testimonials-grid__item p:first-child {
    margin-top: 30px;
  }
  .testimonials-grid__item p:first-child {
    margin-top: 30px;
  }
  section.hero .testimonials-grid__item p:last-child {
    margin-top: 8px;
  }
  .testimonials-grid__item p:last-child {
    margin-top: 8px;
  }
  section.hero .testimonials-grid__item .gothic {
    font-size: 125px;
    line-height: 187px;
  }
  .testimonials-grid__item .gothic {
    font-size: 125px;
    line-height: 187px;
  }
  section.two-cols {
    display: block;
  }
  section.two-cols .left,
  section.two-cols .right {
    width: 100%;
  }
  section.two-cols .left {
    padding-left: 16px;
    padding-top: 86px;
    padding-bottom: 70px;
  }
  section.two-cols h2 {
    font-size: 29px;
    line-height: 43px;
  }
  section.two-cols ul {
    font-size: 16px;
    line-height: 24px;
  }
  section.two-cols .right {
    padding-top: 86px;
    padding-left: 16px;
    padding-bottom: 68px;
  }
  .homeFooter .inner {
    padding: 60px 16px 20px;
  }
  .homeFooter .inner .cards {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 0;
    row-gap: 27px;
  }
  .homeFooter {
    .card {
      min-height: 149px;
    }
  }
  .homeFooter .inner .logo {
    font-size: 16px;
  }

  .homeFooter .inner h2 {
    font-size: 40px;
    line-height: 60px;
    margin: 0 0 30px;
  }
  .homeFooter .inner .cards .card h6,
  .homeFooter .inner .cards .card p {
    font-size: 23px;
  }

  .homeFooter .circles-wrapper {
    right: 26px;
    top: 42px;
  }

  .homeFooter .circles-wrapper .circles {
    width: 56px;
    height: 56px;
  }

  .homeFooter .circles-wrapper .circles__second {
    width: 42px;
    height: 42px;
  }

  .homeFooter .circles-wrapper .circles__third {
    width: 27px;
    height: 27px;
  }

  .homeFooter .inner .cards .card {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  ul.special {
    font-size: 16px;
  }
  ul.special li {
    padding-left: 150px;
  }

  ul.special li::before {
    height: 4px;
    width: 77px;
    left: 63px;
  }

  section.two-cols .left ul.special li {
    padding-left: 147px;
  }
  ul.special li:nth-child(1)::before {
    width: 56px;
    left: 84px;
  }
  ul.special li:nth-child(1) span {
    left: 0;
  }
  ul.special li:nth-child(2) span {
    left: 30px;
  }
  ul.special li:nth-child(3)::before {
    width: 34px;
    left: 105px;
  }
  ul.special li:nth-child(3) span {
    left: 62px;
  }
  ul.special li:nth-child(4)::before {
    width: 67px;
    left: 72px;
  }
  ul.special li:nth-child(4) span {
    left: 76px;
  }

  ul.special.blue {
    display: none;
    white-space: normal;
  }
  ul.special.blue-responsive {
    display: block;
    transform: translate(-50px);
  }
  section.hero .testimonials-grid__item .circles {
    display: none;
    bottom: 77px;
    right: 29px;
  }
  .testimonials-grid__item .circles {
    display: none;
    bottom: 77px;
    right: 29px;
  }

  section.hero .testimonials-grid__item .blocks-wrapper {
    display: none;
    right: 106px;
    bottom: 175px;
  }
  .testimonials-grid__item .blocks-wrapper {
    display: none;
    right: 106px;
    bottom: 175px;
  }
  section.hero .testimonials-grid__item:nth-child(5) .blocks-wrapper {
    right: 119px;
    bottom: 148px;
  }
  .testimonials-grid__item:nth-child(5) .blocks-wrapper {
    right: 119px;
    bottom: 148px;
  }

  section.hero .testimonials-grid__item:nth-child(6) .circles {
    bottom: 140px;
  }
  .testimonials-grid__item:nth-child(6) .circles {
    bottom: 140px;
  }

  /* // ul.special li {
  //   transform: translate(-57px);
  // } */
  ul.special li {
    white-space: nowrap;
    width: fit-content;
    /* // overflow: hidden; */
  }
  .hero ul.special li {
    transform: translate(-57px);
  }
  section.hero .testimonials-grid__item {
    min-height: 231px;
  }
}

@media (max-width: 640px) {
  section.hero {
    padding-top: 78px;
    padding-bottom: 60px;
  }
  section.hero h5 {
    padding-bottom: 12.5px;
  }
  section.hero .hero__offer .special {
    left: -42px;
    top: -9px;
  }

  section.hero .hero__text p {
    margin: 22px 0 20px;
  }

  .contact-us {
    font-size: 16px;
  }

  .testimonials-grid__item:nth-child(3) .bolt {
    transform: rotate(90deg);
    transform-origin: right;
  }
  .testimonials-grid__item:nth-child(5) .bolt {
    visibility: hidden;
  }

  .homeFooter {
    .card {
      min-height: 174.85px;
    }
  }
}

@media (max-width: 400px) {
  section.hero {
    padding-top: 71px;
    padding-bottom: 60px;
  }
  section.hero h5 {
    font-size: 12px;
    padding-bottom: 10px;
  }
  section.hero h1 {
    font-size: 25px;
    line-height: 35px;
  }

  section.hero h1 span {
    padding: 0 2px;
  }

  section.hero p {
    font-size: 14px;
    line-height: 21px;
  }

  section.hero .hero__text p {
    margin: 15px 0 20px;
  }

  section.hero .contact-us {
    padding: 19px 0;
  }

  section.hero .hero__offer h4 {
    margin-top: 55px;
    font-size: 25px;
  }

  ul.special {
    font-size: 14px;
  }
  section.hero .hero__offer .special {
    left: -56px;
    top: -9px;
  }
  section.two-cols ul {
    font-size: 14px;
  }

  .two-cols ul.special li {
    transform: translate(0);
  }

  section.hero h2 {
    font-size: 25px;
    margin-bottom: 0;
  }

  section.two-cols h2 {
    font-size: 25px;
  }
  .homeFooter .inner .logo {
    font-size: 14px;
  }

  .homeFooter .inner h2 {
    font-size: 35px;
    line-height: 52px;
  }
  .homeFooter {
    .card {
      min-height: 154px;
    }
  }

  section.hero .testimonials-grid__item .blocks-wrapper {
    right: 86px;
    bottom: 190px;
  }
  .testimonials-grid__item .blocks-wrapper {
    right: 86px;
    bottom: 190px;
  }
  .homeFooter .inner .cards .card h6,
  .homeFooter .inner .cards .card p {
    font-size: 20px;
  }
}
